<!DOCTYPE html>
<html>
<head>
    <title>KALYAN MATKA | MATKA RESULT | KALYAN MATKA TIPS | SATTA MATKA | MATKA.COM | MATKA PANA JODI TODAY | BATTA SATKA | MATKA PATTI JODI NUMBER | MATKA RESULTS | MATKA CHART | MATKA JODI | SATTA COM | FULL RATE GAME | MATKA GAME | MATKA WAPKA | ALL MATKA RESULT LIVE ONLINE | MATKA RESULT | KALYAN MATKA RESULT | DPBOSS MATKA 143 | MAIN MATKA</title>
	<meta charset="utf-8" />
    <!--Css files-->
    <link href="css/dpboss.css" rel="stylesheet" />
    <!--Bootstrap Css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!--Meta Tags-->
    <meta name="copyright" content="Copyright © 2021 rkbiggboss.net All Rights Reserved." />
    <meta name="revisit-after" content="2" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
<!--Logo Row-->
    <div class="container box-border">
        <img src="images/logo.png" alt="RK BiggBoss" title="RK BiggBoss" class="logo-img"/>
    </div>
<!--Go To Bottom Row-->
  <div class="container">
      <div id="top"></div>
      <a href="#bottom" class="button2"> Go to Bottom </a>
      <div class="panel panel-info">
          <div class="panel-heading text-center">
              Star Kalyan Pannel Chart
          </div>
          <div class="panel-body text-center">
              <!--11:15 AM -- 12:15 PM Row-->
              <table class="panel-chart chart-table" cellpadding="2">
                  <thead>
                      <tr>
                          <th colspan="15" class="text-center">
                          01/10/2021 - Monday<br/>
                              <span class="chart-time">11:15 AM -- 12:15 PM</span>
                          </th>
                      </tr>
                  </thead>
                  <tbody class="tbody">
                      <tr>
                          <td>4<br>8<br>0</td>
                          <td>26</td>
                          <td>3<br>5<br>8</td>

                          <td>1<br>4<br>6</td>
                          <td>17</td>
                          <td>2<br>5<br>0</td>

                          <td>5<br>5<br>7</td>
                          <td>77</td>
                          <td>1<br>8<br>8</td>

                          <td>2<br>3<br>9</td>
                          <td>48</td>
                          <td>2<br>6<br>0</td>

                          <td>1<br>4<br>0</td>
                          <td>52</td>
                          <td>1<br>4<br>7</td>
                      </tr>
                  </tbody>
              </table>
              <!--04:30 PM -- 06:15 PM Row-->
              <table class="panel-chart chart-table" cellpadding="2">
                  <thead>
                      <tr>
                          <th colspan="15" class="text-center">
                              <span class="chart-time">04:30 PM -- 06:15 PM</span>
                          </th>
                      </tr>
                  </thead>
                  <tbody class="tbody">
                      <tr>
                          <td>4<br>8<br>0</td>
                          <td>26</td>
                          <td>3<br>5<br>8</td>

                          <td>1<br>4<br>6</td>
                          <td>17</td>
                          <td>2<br>5<br>0</td>

                          <td>5<br>5<br>7</td>
                          <td>77</td>
                          <td>1<br>8<br>8</td>

                          <td>2<br>3<br>9</td>
                          <td>48</td>
                          <td>2<br>6<br>0</td>

                          <td>1<br>4<br>0</td>
                          <td>52</td>
                          <td>1<br>4<br>7</td>
                      </tr>
                  </tbody>
              </table>
              <!--10:30 PM -- 11:30 PM Row-->
              <table class="panel-chart chart-table" cellpadding="2">
                  <thead>
                      <tr>
                          <th colspan="15" class="text-center">
                              <span class="chart-time">10:30 PM -- 11:30 PM</span>
                          </th>
                      </tr>
                  </thead>
                  <tbody class="tbody">
                      <tr>
                          <td>4<br>8<br>0</td>
                          <td>26</td>
                          <td>3<br>5<br>8</td>

                          <td>1<br>4<br>6</td>
                          <td>17</td>
                          <td>2<br>5<br>0</td>

                          <td>5<br>5<br>7</td>
                          <td>77</td>
                          <td>1<br>8<br>8</td>

                          <td>2<br>3<br>9</td>
                          <td>48</td>
                          <td>2<br>6<br>0</td>

                          <td>1<br>4<br>0</td>
                          <td>52</td>
                          <td>1<br>4<br>7</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div id="bottom"></div>
      <a href="#top" class="button2"> Go to Top </a>
  </div>

<!--Disclamer Row-->
    <div class="container box-border pad-left-rig-0 disclamer">
        <h4>-:DISCLAIMER:-</h4>
        <p>We strictly recommend you to please visit and browse this site on your own risk. All the information available here is strictly for informational purposes and based on astrology and numerology calculations. We are no way associated or affiliated with any illegal Matka business. We abide by rules and regulations of the regions where you are accessing the website. May be it is illegal or banned in your region. If you are using our website despite ban, you will be solely responsible for the damage or loss occurred or legal action taken. Please leave our website immediately if you dont like our disclaimer. Copying any information / content posted on the website is strictly prohibited and against the law.</p>
    </div>
<!--Powerd by Row-->
    <div class="container box-border pad-left-rig-0 disclamer">
        <h4 class="pby-us">POWERD BY rkbiggboss.net</h4>
    </div>
</body>
</html>
